




a {
     -webkit-transition: all .3s;
     transition: all .3s;
}

/* Header, Nav, Chart */
.header-wrapper {
    /*height: 101px;*/
}

.c-padding-header {
    padding-left: 20px;
    padding-right: 20px;
}
.c-padding-header {
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 992px) {
    .c-padding-header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.logo {
    padding: 40px 0;
}
@media (max-width: 992px) {
    .logo {
        text-align: center;
        padding: 20px 0;
    }
}

.c-width-full{
    width: 70% !important;
}

.main-menu li {
    padding: 10px 0;
}

.main-menu li a {
    display: block;
    color: #222 !important;
    font-size: 16.5px;
    font-weight: 500;
    /*padding: 6.5px 13px;*/
    border-radius: 20px;
}
.main-menu li a {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.main-menu li a:hover {
    color: #56cfe1 !important;
}

.main-menu li+li {
    margin-left: 15px;
}
@media screen and (max-width: 992px) {
    .main-menu li {
        padding: 0px;
    }
    .main-menu {
        /*margin-top: -70px;*/
    }
    .c-icon-media {
        margin-top: -85px;
    }
}

.navbar {   /* css - reset  */
    padding: 0px;
}
.c-margin-auto {
    margin: auto;
}

.c-icon-top {
    color: #202020;
    margin-top: 50px;
    margin-left: 30px;
}
@media screen and (max-width: 1160px) {
    .c-icon-top {
        margin-left: 25px;
    }
}
@media screen and (max-width: 1070px) {
    .c-icon-top {
        margin-left: 20px;
    }
}
@media screen and (max-width: 450px) {
    .c-dis {
        display: none;
    }
}


.c-dropdown {
    /*position: relative;*/
    /*display: inline-block;*/

}
.c-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    z-index: 1;
    top: 70%;
    margin-top: 10px;
    transition: all 2s ease;
    padding: 10px 15px;
}
.c-dropdown-content h6 {
    margin-left: 23px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #222;
}
.c-dropdown-content a {
    /*padding: 5px 16px;*/
    /*color: red !important;*/
    width: 100%;
    text-decoration: none;
    display: block;
    padding: 5px 16px;
    font-size: 15px !important;
    line-height: 1.5;
    font-weight: 400;
}
#c-color-drop a{
    color: #777 !important;
}
#c-color-drop a:hover {
    color: #56cfe1 !important;
}
.nav-item:hover .c-dropdown-content {
    display: block;
}


.c-slideshow {
    width: 100%;
    height: 680px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1045px){
    .c-slideshow {
        height: auto;
    }
}


.content-wrapper, .content-wrapper-no {
    width: 100%;
    margin-bottom: 30px;
}
.content-wrapper img , .content-wrapper-no img {
    width: 100%;
    height: 100%;
    transition: .5s; /* .9s */
}
.content-wrapper img:hover {
    transform: scale(1.03);
}
.c-box-info {
    position: absolute;
    padding: 0 15px;
    right: 15px;
    bottom: 50px;
    text-align: center;
}
.btn.btn-content{
    padding-right: 30px;
    padding-left: 30px;
    background-color: #fff;
    border: none;
    color: #333;
    font-weight: bold;
}

.c-text-cons {
    margin-top: -10px;
    margin-bottom: 45px;
}
.c-sub-cons {
    font-style: italic;
    font-size: 17px;
    color: #878787;
    font-weight: 400;
    margin-top: 0;
    display: block;
    font-family: "Times New Roman";
}


.card {     /* css - reset */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 50px;
    cursor: default;
}
.card img{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.card-body {
    padding: 1.25rem 0 0 0;
}

.c-subtitle{
    color: #959595;
    cursor: default;
}
.c-title{
    font-size: 17px;
    color: #444;
    margin-top: 25px;
    margin-bottom: 7px;
}
.c-title:hover{
    color: #56cfe1;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-both {
    clear: both;
}
.c-star {
    margin: 0 2px;
    color: gold;
    cursor: default;
}
h5.c-price{
    color: #56cfe1;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}


.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #c2c2c2;
}
.btn-csr:hover {
    color: #fff;
    background-color: #56cfe1;
    border-color: #56cfe1;:
}
.c-cart {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
.c-cart-i{
    font-size: 20px;
    padding-right: 5px;
}
.c-cart-i2{
    font-size: 18px;
    padding: 6px 5px 5px 5px;
}
a.c-cart-p {
    padding: 10px 20px;
}
.middle {
    /*transition: 0.7s ease;*/
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.3s ease;
}
.card:hover .middle{
    opacity: 1;
    top: 35%;
}

.c-view-text{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #fff;
    color: #777;
}

.c-view-kat-text{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 5px 7.5px;
    background-color: #fff;
    color: #777;
}
a.c-view-text:hover{
    text-decoration: none;
    color: #56cfe1;
}

a.c-view-kat-text:hover{
    text-decoration: none;
    color: #56cfe1;
}


.c-margin-lon {
    margin-top: 40px;
    margin-bottom: 40px;
}



h5.c-title-blog {
    font-size: 17px;
    letter-spacing: .03em;
    color: #222;
    font-weight: 600;
    margin-bottom: 5px;
}
h5.c-title-blog:hover {
    color: #56cfe1;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-ul-blog {
    padding: 0;
    margin-bottom: 10px;
}
.c-ul-blog li {
    display: inline-block;
    color: #888;
}
.c-ul-blog li a {
    text-decoration: none;
    color: #888;
}
.c-ul-blog li:first-child:hover a, li:last-child:hover a {
    color: #56cfe1;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-p-blog {
    color: #888;
    font-weight: 400;
    cursor: default;
}


.c-ig-padding {
    padding-right: 0;
    padding-left: 0;
}
img.c-ig {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle-ig {
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.c-ig-padding:hover img.c-ig {
    opacity: 0.7;

}
.c-ig-padding:hover .middle-ig{
    opacity: 1;
    top: 50%;
}
a.c-icon-ig{
    color: #fff;
}
.c-icon-ig i {
    margin: 0 15px;
}



.c-icon-bot {
    font-size: 2.76923rem;
    color: #9e9e9e;
    text-align: center;
}
@media screen and (max-width: 992px){
    .c-icon-bot {
        width: 70px;
    }
}
.c-padding-media {
    padding: 0 60px;
    margin: 50px 0;
}
@media screen and (max-width: 440px) {
    .c-padding-media {
        padding: 0 20px;
    }
}
.c-padding-media-body {
    padding: 0 20px;
}
.c-padding-media-body h5 {
    margin-bottom: 5px;
}
.c-padding-media-body p {
    color: #9e9e9e;
    font-size: 17px;
    margin-bottom: 0;
}


.c-footer {
    background-color: #F1F1F1;
    padding-top: 80px;
    padding-bottom: 80px;
}
.c-margin-bot {
    margin-bottom: 20px;
}
h5.c-judul-footer {
    margin-bottom: 15px;
    color: #555;
}
.c-text-footer {
    color: #888;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right: 45px;
    font-size: 16.5px;
}
.c-alamat-footer, .c-email-footer, .c-nomer-footer {
    color: #888;
    margin-bottom: 3px;
}
ul.c-ul-footer {
    list-style-type: none;
    padding: 0;
}
ul.c-ul-footer li {
    line-height: 31px;
    margin-bottom: 5px;
    font-size: 16.5px;
}
ul.c-ul-footer li a {
    color: #888;
    text-decoration: none;
}
ul.c-ul-footer li:hover a {
    color: #56cfe1;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-text-payment{
    margin-bottom: 25px;
    font-size: 16.5px;
    color: #888;
}
.c-text-secure {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16.5px;
    color: #888;
}
i.fa-shield, i.c-lala-land, i.fa-check {
    color: #888;
    width: 100%;
    display: inline;
    margin-right: 20px;
}


h6.f-footer-bot{
    color: #a8a8a8;
    font-size: 18px;
}
p.c-footer-copy{
    color: #a8a8a8;
}
.c-padding-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}
.c-padding-footer i {
    margin: 0 8px;
    color: #cfcfcf
}
.c-padding-footer a:hover i{
    color: #56cfe1;
}



/* ====================== Style #detail-info ====================== */

.c-hr-reset {
    margin: 0;
}
.wrapper-bredcrumb{
    padding-top: 20px;
    padding-bottom: 20px;
}
.c-breadcrumb {
    padding: 10px 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    letter-spacing: .01em;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
nav.c-nav-breadcrumb a{
    color: #878787;
    text-decoration: none;
}
nav.c-nav-breadcrumb a:hover{
    color: #56cfe1;
}
nav.c-nav-breadcrumb i{
    margin: 0 15px 0 10px;
    color: #777;
    font-size: 14px;
}
.c-breadcrum-active {
    color: #b0afaf;
}


ul.c-ul-side {
    padding: 0px;
}
li.c-li-side {
    list-style-type: none;
    margin-left: 40%;
}
@media screen and (max-width: 1200px) {
    li.c-li-side {
        margin-left: 20%;
    }
}
@media screen and (max-width: 950px) {
    li.c-li-side {
        margin-left: 0%;
    }
}
@media screen and (max-width: 576px) {
    li.c-li-side {
        display: inline-block;

    }
    .c-img-side img {
        width: 100%;
        text-align: center;
    }
}
.c-img-side img{
    width: 85px;
    margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
    .c-img-side img{
        margin-bottom: 5px;
    }
}
.c-img-show img {
    width: 100%;

}
.c-detail-info {
    /*padding-left: 25px;*/
    /*padding-right: 50px;*/
}
.c-detail-info h5 {
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    font-weight: 600;
    color: #333;
}
@media screen and (max-width: 768px) {
    .c-detail-info h5 {
        margin-top: 25px;
    }
}
.c-review a {
    font-family: Poppins;
    font-size: 15px;
    color: #333;
    visibility: visible;
    text-decoration: none;
 }
.c-review a:hover {
    color: #56cfe1;
}
.c-detail-price {
    margin: 20px 0;
}
.c-detail-price p {
    font-size: 23px;
    line-height: 22px;
    color: #777;
    font-family: 'Poppins', sans-serif;
    text-space: 1px;
}
.c-detail-price del {
    color: #999;
}
.c-detail-p {
    font-family: 'Poppins', sans-serif;
    color: #888888;
}
.c-detail-number input {
    width: 155px;
    height: 40px;
    padding: 0 10px;
    color: #888;
    font-family: 'Poppins', sans-serif;
}
.c-cart-detail{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #56cfe1;
    border-color: #56cfe1;
}
.c-detail-category {
    font-family: 'Poppins', sans-serif;
    color: #888888;
    margin: 20px 0;
}
.c-detail-category a {
    color: #222;
    text-decoration: none;
}
.c-detail-category:hover a{
    color: #56cfe1;
}
.c-share-sosmed a {
    color: #d4d4d4;
    margin: 10px;
}


.c-tab-list {
    margin-top: 70px;
}
.c-detail-des {
    font-family: 'Poppins', sans-serif;
    color: #888888;
    margin-bottom: 100px;
}

h5.c-subtitle-second {
    color: #b3b3b3 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
h5.c-title-second a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin: 10px auto;
    max-width: 250px;
    letter-spacing: 1.4px;
    text-decoration: none;
}
.c-card-vis:hover a {
    color: #56cfe1;
}

.c-card-dis {
    margin-bottom: 20px;
}
.c-margin-related {
    margin-bottom: 40px;
}
input.c-detail-stock {
    width: 70px;
}

.c-detail-warna {
    width: 280px;
}
.c-detail-warna select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}



/* ====================== Style #cart ====================== */

.wrapper-cart {
    width: 100%;
    /*height: 130px;*/
    background: transparent url("../img/background-cart.png") no-repeat center center;
    background-size: cover !important;
    margin-bottom: 50px;
}
h5.c-title-cart {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: .5px;
    font-style: normal;
    color: #333;
    padding-top: 50px;
    margin-bottom: 0;
}
nav.c-bread-cart a:first-child{
    color: #333;
    font-weight: bold;
}
nav.c-bread-cart a {
    font-weight: bold;
}
.c-bread-padding {
    padding-bottom: 30px;
}


table.c-table-vertical td {
    vertical-align: middle;
}
th {
    line-height: 50px;
    color: #444;
    font-family: 'Poppins', sans-serif;
}
.c-table-thumbnail {
    width: 200px;
}
.c-table-name {
    width: 530px;
}
.c-table-code {
    width: 90px;
}
.c-table-price {
    width: 130px;
}
.c-table-quantity {
    width: 120px;
}
.c-table-total {
    width: 130px;
}
.c-table-del {
    width: 30px;
}
img.c-img-cart {
    width: 150px;
    height: 200px;
    margin: 0 10px;
}
.c-table-line-height{
    /*line-height: 190px;*/
}
.c-number-inc {
    width: 100%;
}
p.c-cart-productname{
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;

}
p.c-cart-productname a {
    color: #666;
    text-decoration: none;
}
p.c-cart-productname:hover a {
    color: #56cfe1;
}
.c-price-cart {
    font-family: 'Poppins', sans-serif;
    color: #999;
    font-weight: bold;
}
.c-price-cart-2 {
    font-family: 'Poppins', sans-serif;
    color: #56cfe1;
    font-weight: bold;
}
.c-price-cart-3 {
    font-family: 'Poppins', sans-serif;
    color: #999;
    line-height: 35px;
}
.c-l-hight {
    line-height: 35px;
}
.c-black {
    color: #999;
}

.c-margin-cart-total {
    margin-top: 120px;
}
.c-table-cart-total {
    width: 150px;
}
.c-cart-total th {
    letter-spacing: .04em;
}
h5.c-title-cart-total {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .5px;
    font-style: normal;
    color: #333;
    margin-bottom: 30px;
}
a.c-btn-cart {
    padding: 10px 35px;
    font-size: 16px;
    margin-bottom: 100px;
    font-weight: bold;
    color: #777;
}
.c-input-cart input {
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    color: #888;
}



/* ====================== Style #checkout ====================== */

p.c-pengiriman-jne {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
p.c-pengiriman-jne:hover {
    color: #56cfe1;

}



/* ====================== Style #checkout ====================== */

.form-control { /* css - reset */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px !important;
    border-color: #9b9b9b;
    line-height: 24px;
}
.form-control:focus {   /* css - reset */
    border-color: #222;
}
.col-form-label {   /* css - reset */
    color: #9b9b9b;
}
.c-form-star {
    color: red;
}
a.c-collapse {
    text-decoration: none;
    color: #222;
}

.c-price-cart-4 {
    color: #222;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.c-img-checkout {
    width: 100%;
    padding: 5px;
}
.c-checkout-product {
    width: 150px;
}

.table td {     /* css - reset */
    vertical-align: middle;
}


/* ====================== Style #order-detail ====================== */

.c-order-info {
    color: #888;
    font-family: 'Poppins', sans-serif;
}
.c-margin-bot-cart {
    margin-bottom: 70px;
}
.c-order-table {
    width: 70%;
}
.c-margin-bot-detail-order {
    margin-bottom: 100px;
}


/* ====================== Style #login ====================== */

.c-login {
    max-width: 300px;
    margin: 100px auto;
}
.c-login-btn:hover {
    border: 1px #495057 solid;
}
a.c-link-color {
    color: #888;
    text-decoration: none;
}
a.c-link-color:hover {
    color: #222;
}
.c-head-login {
    height: 40px;
    margin-bottom: 0px;
    font-size: 0.8em;
    background-color: #F1F1F1;
    line-height: 40px;
    color: #fefefe;
}
a.c-kembali {
    color: #777;
    text-decoration: none;
}
a.c-kembali:hover{
    color: #444;
}


/* ====================== Style #profil, status, history ====================== */

.c-profil-icon {
    width: 20px;
    text-align: center;
}
a.c-edit {
    color: #222;
}
img.c-img-order {
    width: 80px;
    height: 100px;
}
.c-price-history {
    font-size: 21px;
    line-height: 19px;
    color: #777;
    font-family: 'Poppins', sans-serif;
}
span.c-success {
    /*color: #A7D267;*/
    color: #56cfe1;
    font-size: 15px;
}
span.c-deliver{
    /*color: #A7D267;*/
    color: gold;
    font-size: 15px;
}
span.c-out{
    /*color: #A7D267;*/
    color: #FC411D;
    font-size: 15px;
}

.media h5 {
    -webkit-transition: all .3s;
    transition: all .3s;
}
.media:hover  h5:first-child {
    color: #56cfe1;
}
.c-profil-active {
    background-color: #F1F1F1;
}
.media-body a{
    text-decoration: none;
}
.c-color-profil {
    color: #444;
}

.c-pagination a {
    color: #444;
}

.c-pagination:hover a {
    color: #56cfe1;
    background-color: transparent;
}
a.c-ubah-pass {
    text-decoration: none;
    color: #56cfe1;
}
a.c-ubah-pass:hover {
    color: #888;
}


/* ====================== Style #profil, status, history ====================== */

.c-text-blog {
    font-size: 16px;
    color: #888;
    font-family: 'Poppins', sans-serif;
}
.c-btn-blog {
    padding: 10px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #777;
}
.c-title-blog a {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
}
.c-title-blog:hover a {
    color: #56cfe1;
}
.c-text-auth {
    font-size: 15px;
    color: #666;
}

.r-kat-item {
    color: #222;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.r-kat-item:hover {
    color: #888;
    text-decoration: none;
    font-size: 20px;

}